{% extends 'tienda/base.html' %}
{% block content %}
<h2>{{ titulo }}</h2>
<p>Bienvenido, {{ cliente.nombre_completo }}</p>

<h4>Mis Compras:</h4>
{% if ventas %}
  <table>
    <tr>
      <th>ID</th><th>Fecha</th><th>Total</th><th>Acción</th>
    </tr>
    {% for venta in ventas %}
    <tr>
      <td>{{ venta.id }}</td>
      <td>{{ venta.fecha_venta|date:"d/m/Y H:i" }}</td>
      <td>${{ venta.total }}</td>
      <td><a href="{% url 'cliente_detalle_venta' venta.id %}">Ver detalle</a></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No tienes compras registradas.</p>
{% endif %}
{% endblock %}